div.thumbnailImage{    
    width: 4rem;
    height: 4rem;    
}
div.thumbnail{
    margin-top: .75rem;
    margin-left: .75rem;
    margin-right: .75rem;
}
div .fileName .fileText{
    width: 4rem;
    height: 2rem;
    overflow:hidden;
    font-size: 0.65rem;
    overflow-wrap: break-word;
}
div .fileName .tooltiptext {
    visibility: hidden;
    width : 0px;
    height : 0px;
    background-color: beige;
    color:black;
    position: absolute;
    z-index: 1;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 0.5s;
    transition-delay: 2s;
}

div .fileName:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    width : auto;
    height : auto;
}