.layerPreviewImage{
    height:2rem;
    width : 2rem;
    border : 0.05rem solid;
}

.layerType{
    background-color: #333333;
    padding : 0.25rem;
    border : 0.05rem solid;
}

.layerLink{
    color:#999999;
}

.layerLink:hover{
    color:#999999;
    text-decoration: none;
}