ul li.materialType{
    background-color: #333333;
    padding : 0.25rem;
}

ul li.activeType{
    background-color: #666666;
}

.materialLink{
    color:#999999;
}

.materialLink:hover{
    color:#999999;
    text-decoration: none;
}

.activex{
    color:blue;
}