ul li.materialType{
    background-color: #333333;
    padding : 0.25rem;
    cursor : pointer;
}

ul li.materialActiveType{
    background-color: #666666;
}

.materialCheck{
    margin-left:-1.25rem;
}

.materialLink{
    margin-left:0.25rem;
    color:#999999;
}

.materialLink:hover{
    color:#999999;
    text-decoration: none;
}