body {
  margin: 0;
  padding: 0;
  font-size: 0.75rem !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color : rgba(255, 255, 255, 0.5) !important;
}

button:not(:disabled):not(.disabled) {
  cursor: pointer;
}

button {
  color: #999999;
  background-color: transparent;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  padding-left : 0.3rem;
  padding-right : 0.3rem;
  border-radius: 0.1rem !important;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

button:hover {
  background-color:#999999; /* Green */
  color: #333333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 0.7rem 0;
}
input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 0.15rem;
  cursor: pointer;
  background: #666666;
}
input[type=range]::-webkit-slider-thumb {
  height: 1.2rem;
  width: 0.5rem;
  background: #CCCCCC;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -.6rem;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #999999;
}

